{% extends "base.html.twig" %}
{% block title %}Login
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ asset("css/admin.css") }}"></link>{% endblock %}{% block javascripts %}
<script src="{{asset("js/admin.js")}}" defer></script>{% endblock %}{% block body %}
<section>
	<div>
		<a class="modificar">Modificar</a>
		<a class="aniadir">Añadir</a>
	</div>
	<div class="contenido_modificar">
		<div>
			<label for=""></label><input list="titulos" type="text">
			<datalist id="titulos">
				{% for item in titulos %}
					<option value="{{item.getCodigo()}}" class="{{item.getTipo()}}">{{item.getNombre()}}</option>
				</datalist>
			{% endfor %}
		</div>
		<div>
			<label for="">Tipo</label>
		</div>
		<div>
			<div>
				<label for="">Titulo</label><input type="text"></div>
			<div>
				<label for="">Alias (Opcional)</label><input type="text"></div>
			<div>
				<label for="">Descripcion</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>
			<div>
				<label for="">Trailer</label>
				<input type="url" placeholder="https://example.com" pattern="https://.*"/>
			</div>
			<div>
				<label for="generos">Generos</label>
				<input type="text" list="generos">
				<datalist id="generos">
					{% for item in generos %}
						<option value="{{item.getCodigo()}}">{{item.getNombre()}}</option>
					{% endfor %}
				</datalist>
			</div>
			<div>
				<label for="">Poster</label>
				<input type="file">
			</div>
			<div>
				<label for="">Portada</label>
				<input type="file">
			</div>
			<div>
				<button>Actualizar</button>
				<button>Eliminar</button>
			</div>
		</div>
	</div>
	<div class="contenido_agregar">
		<div>
			<a class="tipo" id="1">Pelicula</a>
			<a class="tipo" id="2">Serie</a>
		</div>
		<div>
			<label for="">Titulo</label><input type="text">
		</div>
		<div>
			<label for="">Alias (Opcional)</label><input type="text">
		</div>
		<div class="pelicula">
			<label for="">Descripcion</label>
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</div>
		<div class="pelicula">
			<label for="">Trailer</label>
			<input type="url" placeholder="https://example.com" pattern="https://.*"/>
		</div>
		<div class="serie">
			<div>
				<button id="temporada">+ Temporada</button>
			</div>
		</div>
		<div>
			<label for="generos">Generos</label>
			<input type="text" list="generos">
			<datalist id="generos">
				{% for item in generos %}
					<option value="{{item.getCodigo()}}">{{item.getNombre()}}</option>
				{% endfor %}
			</datalist>
		</div>
		<div>
			<label for="">Poster</label>
			<input type="file" name="poster" class="file_upload">
		</div>
		<div>
			<label for="">Portada</label>
			<input type="file" name="portada"class="file_upload">
		</div>
        <div>
        <img src="" alt="" class="poster imagenes">
        <img src="" alt="" class="portada imagenes">
        </div>
		<button>Publicar</button>
	</div>
</section>{% endblock %}
