{% extends "base.html.twig" %}
{% block title %}Catalogo
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ asset("css/catalogo.css") }}"></link>{% endblock %}{% block javascripts %}
<script>
	let ruta_admin = "{{ path('admin') }}"
</script>
<script src="{{asset('js/catalogo.js')}}" defer></script>{% endblock %}{% block body %}
<section>
{{ dump() }}
	<h2>Catálogo</h2>
	<form class="container_filtros">
		{% if generos is not null%}
			<div class="filtros">
				<div>Genero</div>
				<ul class="option">
					{% for item in generos %}
						<li><input type="checkbox" name="" id="{{item.getCodigo()}}"/>{{item.getNombre()}}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="filtros">
			<div>Tipo</div>
			<ul class="option">
				<li><input type="checkbox" name="" id=""/>Pelicula</li>
				<li><input type="checkbox" name="" id=""/>Serie</li>
			</ul>
		</div>
		<div class="filtros">
			<div>Año</div>
			<ul class="option">
			{% for item in fecha %}
				<li><input type="checkbox" value="{{item}}"/>{{item}}</li>
			{% endfor %}
			</ul>
		</div>
		<div class="filtros">
			<div>Filtrar</div>
		</div>
		<div class="filtros admin">
			<div>
				Agregar contenido
			</div>
		</div>
	</form>
</section>{% endblock %}
