{% extends "base.html.twig" %}
{% block title %}
	{{contenido.getTitulo()}}
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ asset("css/contenido.css") }}"></link><link rel="stylesheet" href="{{ asset("css/critica.css") }}"></link>{% endblock %}{% block javascripts %}<script>
const ruta_puntuar_contenido = "{{ path('puntuarContenido') }}";
const ruta_crear_comentario = "{{ path('crearComentario') }}";
const ruta_crear_critica = "{{ path('crearCritica') }}";
const ruta_eliminar_comentario = "{{ path('eliminarComentario') }}";
const ruta_crear_like = "{{ path('darLike') }}";
const ruta_usuario_perfil = "{{ path('usuario', {'username' : 'numero' }) }}";
const ruta_contenido = "{{ path('contenido', {'codigo' : 'numero','nombre': 'titulo' }) }}";
const contenido_titulo = "{{ contenido.getTitulo() }}"
const contenido_codigo = "{{ contenido.getCodigo() }}"


</script><script src="{{asset("js/contenido.js")}}" defer></script><script src="{{asset("js/critica.js")}}" defer></script>{% endblock %}{% block body %}<section>
<div class="aside">
	<p>recomendaciones</p>
	<div class="categoria_box">
		{% for item in recomendados %}
			<div class="card">
				<img src="poster/{{item.getPoster()}}" alt=""/>
				<div class="card-category">{{item.getTipo()}}</div>
				<h3 class="card-heading">{{item.getNombre()}}</h3>
				<a href="#">
					<span class="link"></span>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
<div class="section">
	<img class="portada" src="{{asset('Contenido/c')}}{{contenido.getCodigo()}}/portada/{{contenido.getPortada()}}" alt="imagen de contenido">
	<div class="titulo">
		<img class="poster" src="{{asset('Contenido/c')}}{{contenido.getCodigo()}}/poster/{{contenido.getPoster()}}" alt="imagen de contenido">
		<div>
			<h1 class="contenido_datos" data-codigo="{{contenido.getCodigo()}}">{{contenido.getTitulo()}}</h1>
			<div>
				<p></p>
				<p>96% (Estrellas)</p>
			</div>
		</div>
	</div>
	<div class="descripcion">
		{{contenido.getDescripcion()}}
	</div>
	<div class="contenedor_estrellas">
		<b>Tu calificacion</b>
		<div class="estrellas">
			<input type="radio" name="valoracion" value="1" id="estrella1">
			<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
				<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
			</svg>
			<input type="radio" name="valoracion" value="2" id="estrella2">
			<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
				<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
			</svg>
			<input type="radio" name="valoracion" value="3" id="estrella3">
			<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
				<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
			</svg>
			<input type="radio" name="valoracion" value="4" id="estrella4">
			<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
				<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
			</svg>
			<input type="radio" name="valoracion" value="5" id="estrella5">
			<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
				<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
			</svg>
		</div>
	</div>
	<div class="seccion criticas_recientes">
		<div class="titulo">Criticas recientes</div>
		<div class="criticas">
			{% if app.user is not null %}
				<div class="nuevo_critica">
					<div class="comentario_datos">
						{% if app.user.getFoto() is not null %}
							<img src="{{asset('Usuario/')}}u{{app.user.getCodigo()}}/{{app.user.getFoto()}}" alt="foto usuario">
						{% else %}
							<img src="{{asset('iconos/default-user.jpg')}}" alt="foto usuario" class="foto">
						{% endif %}
						<div class="enlace nombre_usuario">{{ app.user.getUsuario() }}</div>
						<div>{{ contenido.getTitulo() }}</div>
					</div>
					<textarea name="" id="" cols="30" rows="10" placeholder="Escribe un critica"></textarea>
					<button class="crearCritica" data-codigo="{{contenido.getCodigo()}}">enviar</button>
				</div>
			{% endif %}
			{% for critica in criticas %}
				<div class="critica">
					<div class="comentario">
						<div class="comentario_datos">
							<div class="enlace nombre_usuario">{{ critica.getUsuario().getUsuario() }}</div>
							<div>{{ critica.getFecha()|date('Y/m/d H:i:s') }}</div>
							<div>{{ critica.getContenido().getTitulo() }}</div>
						</div>
						<div class="texto">{{ critica.getComentario() }}</div>
						<div class="like">
							<div data-tipo="1" data-codigo="{{ critica.getCodigo() }}">
								{% if  critica.getOwnlike() is not  null%}
									<label for="" class="darLike miLike">Like</label>
								{% else %}
									<label for="" class="darLike">Like</label>
								{% endif %}
								<div>
									{% if critica.getLikes()|length > 0 %}
										{{ critica.getLikes()|length }}
									{% endif %}
								</div>
							</div>
							<div>
								<label for="" class="comentario_reply">Reply</label>
								<div class="cantidad_reply">
									{% if critica.getComentarios()|length > 0 %}
										{{ critica.getComentarios()|length }}
									{% endif %}
								</div>
							</div>
							{% if app.user is not null and critica.getUsuario().getCodigo() == app.user.getCodigo() %}
								<div class="eliminar" data-tipo="1" data-codigo="{{ critica.getCodigo() }}">Eliminar</div>
							{% endif %}
						</div>
					</div>
					<img src="{{asset('Contenido/c')}}{{critica.getContenido().getCodigo()}}/poster/{{critica.getContenido.getPoster()}}" alt="imagen de contenido" class="card" data-codigo="{{critica.getContenido().getCodigo()}}" data-nombre="{{critica.getContenido().getTitulo()}}">
				</div>
				<div class="reply">
					{% if app.user is not null %}
						<div class="nuevo_comentario">
							{% if app.user.getFoto() is not null %}
								<img src="{{asset('Usuario/')}}u{{app.user.getCodigo()}}/{{app.user.getFoto()}}" alt="foto usuario">
							{% else %}
								<img src="{{asset('iconos/default-user.jpg')}}" alt="foto usuario" class="foto">
							{% endif %}
							<textarea name="" id="" cols="30" rows="10" placeholder="Escribe un comentario"></textarea>
							<button class="crearComentario" data-codigo="{{critica.getCodigo()}}">enviar</button>
						</div>
					{% endif %}
					{% for comentario in critica.getComentarios() %}
						<div class="comentario">
							<div class="comentario_datos">
								{% if comentario.getUsuario_objeto().getFoto() is not null %}
									<img src="{{asset('Usuario/')}}u{{comentario.getUsuario_objeto().getCodigo()}}/{{comentario.getUsuario_objeto().getFoto()}}" alt="foto usuario">
								{% else %}
									<img src="{{asset('iconos/default-user.jpg')}}" alt="foto usuario" class="foto">
								{% endif %}
								<div class="enlace nombre_usuario">{{ comentario.getUsuario_objeto().getUsuario() }}</div>
								<div>{{ comentario.getFecha()|date('Y/m/d H:i:s') }}</div>
							</div>
							<div class="texto">{{ comentario.getComentario() }}</div>
							<div class="like">
								<div data-tipo="0" data-codigo="{{ comentario.getCodigo() }}">
									{% if  comentario.getOwnlike() is not  null%}
										<label for="" class="darLike miLike">Like</label>
									{% else %}
										<label for="" class="darLike">Like</label>
									{% endif %}
									<div>
										{% if comentario.getLikes()|length > 0 %}
											{{ comentario.getLikes()|length }}
										{% endif %}
									</div>
								</div>
								{% if app.user is not null and comentario.getUsuario_objeto().getCodigo() == app.user.getCodigo() %}
									<div class="eliminar" data-tipo="0" data-codigo="{{ comentario.getCodigo() }}">Eliminar</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div></section>{% endblock %}
