{% extends "base.html.twig" %}
{% block title %}
	{{contenido.getTitulo()}}
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ asset("css/critica.css") }}"></link><link rel="stylesheet" href="{{ asset("css/contenido.css") }}"></link>{% endblock %}{% block javascripts %}<script>
{% if is_granted("ROLE_ADMIN") %}
const ruta_eliminar_contenido = "{{ path('eliminarContenido') }}";{% endif %}const ruta_puntuar_contenido = "{{ path('puntuarContenido') }}";
const ruta_crear_comentario = "{{ path('crearComentario') }}";
const ruta_crear_critica = "{{ path('crearCritica') }}";
const ruta_crear_favorito = "{{ path('darFavorito') }}";
const ruta_eliminar_comentario = "{{ path('eliminarComentario') }}";
const ruta_crear_like = "{{ path('darLike') }}";
const ruta_usuario_perfil = "{{ path('usuario', {'username' : 'numero' }) }}";
const ruta_contenido = "{{ path('contenido', {'id' : 'numero','nombre': 'titulo' }) }}";
const contenido_titulo = "{{ contenido.getTitulo() }}"
const contenido_codigo = "{{ contenido.getId() }}";{% if app.user is not null %}const username = "{{ app.user.getUsername() }}";{% if app.user.getFoto() is not null %}const userfoto = "{{ asset('Usuario/') }}u{{ app.user.getId() }}/{{ app.user.getFoto() }}";
{% else %}
const userfoto = "{{ asset('iconos/default-user.jpg') }}";{% endif %}{% endif %}</script><script src="{{asset("js/contenido.js")}}" defer></script><script src="{{asset("js/contenido2.js")}}" defer></script><script src="{{asset("js/critica.js")}}" defer></script><script src="{{asset("js/contenido_admin.js")}}" defer></script>{% endblock %}{% block body %}<section>
<div class="section">
	{% if is_granted("ROLE_ADMIN") %}
		<form action="{{path('eliminarContenido')}}" method="post" class="admin">
			<input style="display: none;" type="number" name="codigo" value="{{contenido.getId()}}">
			<button type="button" class="btn_admin eliminar_contenido">Eliminar</button>
		</form>
	{% endif %}
	<div class="seccion datos_contenido">
		{% if contenido.getPortada() is not null %}
			<img class="portada" src="{{asset('Contenido/c')}}{{contenido.getId()}}/portada/{{contenido.getPortada()}}" alt="imagen de contenido">
		{% endif %}
		<div class="poster_titulo">
			{% if contenido.getPoster() is not null %}
				<img class="poster" src="{{asset('Contenido/c')}}{{contenido.getId()}}/poster/{{contenido.getPoster()}}" alt="imagen de contenido">
			{% endif %}
			<div class="contenido_datos" data-codigo="{{contenido.getId()}}">
				<div class="name_contenido">{{contenido.getTitulo()}}</div>
				{% if contenido.getEstreno() is not null %}
					<div class="fecha">{{contenido.getEstreno()|date('Y/m/d')}}</div>
				{% endif %}
				{% if app.user is not null %}
					{% if contenido.getOwnlike() is not null %}
						<img class='fav_conten corazon_fav' src="{{asset('iconos/corazon.png')}}" alt="">
					{% else %}
						<img class='fav_conten corazon_dislike' src="{{asset('iconos/corazon.png')}}" alt="">
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="descripcion">
			{{contenido.getDescripcion()|nl2br|escape}}
		</div>
		<div class='contenido_generos'>
			<div>Géneros</div>
			<ul>
				{% for item in contenido.getGeneros() %}
					<li>{{item.getGenero().getNombre()}}</li>
				{% endfor %}
			</ul>
		</div>

		{% if contenido.getReparto() is not empty %}
			<div class='contenido_generos'>
				<div>Reparto</div>
				<ul>
					{% for item in contenido.getReparto() %}
						<li>{{item.getNombre()}}</li>
					{% endfor %}
				</ul>
			</div>

		{% endif %}
		<div class="calificacion">
			<div class="sect">
				<div>Puntuación</div>
				<div>{{puntuacion}}
					%</div>
			</div>
			{% if app.user is not null %}
				<div class="contenedor_estrellas">
					<b>Tu calificacion</b>
					<div class="estrellas">
						{% if valora == 0 %}
							<input type="radio" name="valoracion" value="1" id="estrella1">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="2" id="estrella2">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="3" id="estrella3">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="4" id="estrella4">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="5" id="estrella5">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
						{% elseif valora == 1 %}
							<input type="radio" name="valoracion" value="1" id="estrella1">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="2" id="estrella2">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="3" id="estrella3">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="4" id="estrella4">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="5" id="estrella5">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
						{% elseif valora == 2 %}
							<input type="radio" name="valoracion" value="1" id="estrella1">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="2" id="estrella2">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="3" id="estrella3">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="4" id="estrella4">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="5" id="estrella5">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
						{% elseif valora == 3 %}
							<input type="radio" name="valoracion" value="1" id="estrella1">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="2" id="estrella2">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="3" id="estrella3">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="4" id="estrella4">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
							<input type="radio" name="valoracion" value="5" id="estrella5">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
						{% elseif valora == 4 %}
							<input type="radio" name="valoracion" value="1" id="estrella1">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="2" id="estrella2">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="3" id="estrella3">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="4" id="estrella4">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="5" id="estrella5">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella"/>
							</svg>
						{% elseif valora == 5 %}
							<input type="radio" name="valoracion" value="1" id="estrella1">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="2" id="estrella2">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="3" id="estrella3">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="4" id="estrella4">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
							<input type="radio" name="valoracion" value="5" id="estrella5">
							<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 100 100" class="svg">
								<polygon points="50 0, 66 30, 100 35, 75 60, 80 95, 50 80, 20 95, 25 60, 0 35, 34 30" class="estrella estrella_seleccionada"/>
							</svg>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="seccion">
		<div class="titulo">Criticas recientes</div>
		<div class="criticas">
			{% if app.user is not null %}
				<div class="nuevo_critica">
					<div class="comentario_datos">
						{% if app.user.getFoto() is not null %}
							<img src="{{asset('Usuario/')}}u{{app.user.getId()}}/{{app.user.getFoto()}}" alt="foto usuario">
						{% else %}
							<img src="{{asset('iconos/default-user.jpg')}}" alt="foto usuario" class="foto">
						{% endif %}
						<div class="enlace nombre_usuario">{{ app.user.getUsername() }}</div>
						<div>{{ contenido.getTitulo()|escape }}</div>
					</div>
					<textarea name="" id="" cols="30" rows="10" placeholder="Escribe un critica"></textarea>
					<div class="crearCritica btn_coment" data-codigo="{{contenido.getId()}}">comentar</div>
				</div>
			{% endif %}
			{% for critica in criticas %}

				<div class="critica">
					<div class="comentario">
						<div class="comentario_datos">
							{% if critica.getUser().getFoto() is not null %}
								<img src="{{asset('Usuario/')}}u{{critica.getUser().getId()}}/{{critica.getUser().getFoto()}}" alt="foto usuario">
							{% else %}
								<img src="{{asset('iconos/default-user.jpg')}}" alt="foto usuario" class="foto">
							{% endif %}
							<div class="enlace nombre_usuario">{{ critica.getUser().getUsername()|escape }}</div>
							<div>{{ critica.getFecha()|date('Y/m/d H:i:s') }}</div>
							{# <div>{{ critica.getContenido().getTitulo()|escape }}</div> #}
						</div>
						<div class="texto">{{ critica.getComentario()|escape|nl2br }}</div>
						<div class="like">
							<div data-tipo="1" data-codigo="{{ critica.getId() }}">
								{% if  critica.getMyLike() %}
									<label for="" class="darLike miLike">Like</label>
								{% else %}
									<label for="" class="darLike">Like</label>
								{% endif %}
								<div>
									{% if critica.getLikes()|length > 0 %}
										{{ critica.getLikes()|length }}
									{% endif %}
								</div>
							</div>
							<div>
								<label for="" class="comentario_reply">Reply</label>
								<div class="cantidad_reply">
									{% if critica.getComentarios()|length > 0 %}
										{{ critica.getComentarios()|length }}
									{% endif %}
								</div>
							</div>
							{% if app.user is not null and critica.getUser().getId() == app.user.getId() %}
								<div class="eliminar" data-tipo="1" data-codigo="{{ critica.getId() }}">Eliminar</div>
							{% endif %}
						</div>
					</div>
					{# <img src="{{asset('Contenido/c')}}{{critica.getContenido().getId()}}/poster/{{critica.getContenido.getPoster()}}" alt="imagen de contenido" class="card" data-codigo="{{critica.getContenido().getId()}}" data-nombre="{{critica.getContenido().getTitulo()}}"> #}
				</div>
				<div class="reply">
					{% if app.user is not null %}
						<div class="nuevo_comentario">
							{% if app.user.getFoto() is not null %}
								<img src="{{asset('Usuario/')}}u{{app.user.getId()}}/{{app.user.getFoto()}}" alt="foto usuario">
							{% else %}
								<img src="{{asset('iconos/default-user.jpg')}}" alt="foto usuario" class="foto">
							{% endif %}
							<textarea name="" id="" cols="30" rows="10" placeholder="Escribe un comentario"></textarea>
							<div class="crearComentario btn_coment" data-codigo="{{critica.getId()}}">comentar</div>
						</div>
					{% endif %}
					{% for comentario in critica.getComentarios() %}
						<div class="comentario">
							<div class="comentario_datos">
								{% if comentario.getUser().getFoto() is not null %}
									<img src="{{asset('Usuario/')}}u{{comentario.getUser().getId()}}/{{comentario.getUser().getFoto()}}" alt="foto usuario">
								{% else %}
									<img src="{{asset('iconos/default-user.jpg')}}" alt="foto usuario" class="foto">
								{% endif %}
								<div class="enlace nombre_usuario">{{ comentario.getUser().getUsername()|escape }}</div>
								<div>{{ comentario.getFecha()|date('Y/m/d H:i:s') }}</div>
							</div>
							<div class="texto">{{ comentario.getComentario()|escape|nl2br }}</div>
							<div class="like">
								<div data-tipo="0" data-codigo="{{ comentario.getId() }}">
									{% if  comentario.getMyLike() %}
										<label for="" class="darLike miLike">Like</label>
									{% else %}
										<label for="" class="darLike">Like</label>
									{% endif %}
									<div>
										{% if comentario.getLikes()|length > 0 %}
											{{ comentario.getLikes()|length }}
										{% endif %}
									</div>
								</div>
								{% if app.user is not null and comentario.getUser().getId() == app.user.getId() %}
									<div class="eliminar" data-tipo="0" data-codigo="{{ comentario.getId() }}">Eliminar</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="aside">
	<div class="titulo">Recomendado</div>
	<div class="categoria_box">
		{% for recomendado in recomendados %}
			<div class="card" data-codigo="{{recomendado.getId()}}" data-nombre="{{recomendado.getTitulo()}}">
				<img src="{{asset('Contenido/c')}}{{recomendado.getId()}}/poster/{{recomendado.getPoster()}}" alt="{{recomendado.getTitulo()}}">
				<h3>{{recomendado.getTitulo()}}</h3>
			</div>
		{% endfor %}
	</div>
</div></section>{% endblock %}
