{% extends 'base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href="{{asset("css/home.css")}}"/>
	<link rel="stylesheet" href="{{asset("css/splide.min.css")}}"/>
{% endblock %}
{% block javascripts %}
	<script src="{{asset("js/splide.min.js")}}"></script>
	<script src="{{asset("js/home.js")}}" defer></script>
{% endblock %}
{% block body %}
	<section>
		{% if destacados is not null%}
			<div class="splide" role="group" aria-label="Splide Basic HTML Example">
				<div class="splide__track">
					<ul class="splide__list">
						{% for item in destacados %}
							<li class="splide__slide">
								<span class="splide_description">
									<div class="card-category">{{item.getTipo()}}</div>
									<h3 class="card-heading">{{item.getNombre()}}</h3>
								</span>
								<img src="conten/{{item.getPortada()}}" alt=""/>
								<a href="#">
									<span class="link"></span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
		{% if recomendados is not null %}
			<div class="categoria_inicio">
				<div>Recomendado</div>
				<div class="categorias">
					<a href="#">Peliculas</a>
					<a href="#">Series</a>
					<a href="#">Tendencias</a>
				</div>
			</div>
			<div class="categoria_box">
				{% for item in recomendados %}
					<div class="card">
						<img src="poster/{{item.getPoster()}}" alt=""/>
						<div class="card-category">{{item.getTipo()}}</div>
						<h3 class="card-heading">{{item.getNombre()}}</h3>
						<a href="#">
							<span class="link"></span>
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if novedades is not null %}
			<div class="categoria_inicio">
				<div>Novedades</div>
				<div class="categorias">
					<a href="#">Peliculas</a>
					<a href="#">Series</a>
					<a href="#">Tendencias</a>
				</div>
			</div>
			<div class="categoria_box">
				{% for item in novedades %}
					<div class="card">
						<img src="poster/{{item.getPoster()}}" alt=""/>
						<div class="card-category">{{item.getTipo()}}</div>
						<h3 class="card-heading">{{item.getNombre()}}</h3>
						<a href="#">
							<span class="link"></span>
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endblock %}
